*.pyc
__pycache__/

venv/
env/
static/
.env

*.sqlite3
local_settings.py

logs/
*.log
tmp/

.vscode/
.idea/

*.pyo
*.pyc
__pycache__/
*.egg-info/
*.egg
*.swp
*.swo

staticfiles/

dist/
build/

.ruff_cache
